@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="jumbotron">
<h2>Add an engineer</h2>
</div>

<h4>Add an engineer for this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}
<div id="footer">
<button style="height:100px; width:250px; font-size:20px;">@Html.ActionLink("Back to list", "Index")</button>
</div>