@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="jumbotron">
<h2>Edit</h2>
</div>

<h4>Edit this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.SerialNumber)
  @Html.EditorFor(model => model.SerialNumber)

  <input type="submit" value="Save" />
}

<div id="footer">
<button style="height:100px; width:250px; font-size:20px;">@Html.ActionLink("Back to list", "Index")</button>
</div>