@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="jumbotron">
<h2>Add a machine</h2>
</div>

<h4>Add a machine for this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}
<div id="footer">
<button style="height:100px; width:250px; font-size:20px;">@Html.ActionLink("Back to list", "Index")</button>
</div>