@{
  Layout = "_Layout";
}

@using System;

@model Factory.Models.Engineer

<div class="jumbotron">
<h2>Engineer Details</h2>
</div>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer is not assigned to any machines</p>
}
else
{
  <h4>Machines assigned to @Model.Name:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.Name</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  <br>
  <p>Last Repaired a machine on: @Model.RepairMade.ToString("d")</p>
  </ul>
}

<div id="footer">
<button style="height:100px; width:250px; font-size:20px;">@Html.ActionLink("Back to Engineers", "Index")</button>
<button style="height:100px; width:250px; font-size:20px;">@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</button>
<button style="height:100px; width:250px; font-size:20px;">@Html.ActionLink("Edit Engineer/Log a Repair", "Edit", new { id = Model.EngineerId })</button>
<button style="height:100px; width:250px; font-size:20px;">@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</button>
</div>