@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  <br>
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @* <br>
  @Html.LabelFor(model => model.EnrollmentDate)
  @Html.EditorFor(model => model.EnrollmentDate) *@
  <br>
  @Html.Label("Select machine")
  @Html.DropDownList("MachineId")
  <br>
  @* @Html.Label("Select department")
  @Html.DropDownList("DepartmentId")
  <br> *@
  <input type="submit" value="Save" />
}
<hr>
@* <p>@Html.ActionLink("Back to list", "Index")</p> *@
@using(@Html.BeginForm("Index", "Engineers"))
{
  <input type="submit" value="Back to Engineers" class="btn btn-primary">
}
<br>